# /etc/systemd/system/vpn-wg0-ping.timer
[Unit]
Description=wireguard occasional ping to ensure connection.

[Timer]
# see man 7 systemd.tim for possible formats.
# every 13m
OnCalendar=*:0/13
RandomizedDelaySec=320
Unit=vpn-wg0-ping.service

[Install]
WantedBy=timers.target
